<table border=1 cellpadding=15>
    <thead>
        <tr>
            <th> Surname </th>
            <th> First Name </th>
            <th> Reports To </th>
            <th> Date Employed </th>
        </tr>
    </thead>
    <tbody>
    {% if latest_employee_list %}
        {% for employees in latest_employee_list %}
        <tr>
            <td> {{ employees.surname }} </td>
            <td> {{ employees.firstname }} </td>
            <td> {{ employees.manager.surname }} </td>
            <td> {{ employees.start_date }} </td>
        </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan=2>No employees are available.</td>
        </tr>
    {% endif %}
    </tbody>
</table>

{% if is_paginated %}
    <br><br>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo;</a>
                <a href="?page={{ page_obj.previous_page_number }}">PREV</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">NEXT</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
            {% endif %}
        </span>
    </div>
{% endif %}
